<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml"
      xmlns:height="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Chuck Norris Jokes</title>
</head>
<body>
<div align="center" style="background-color:lightblue" height: 200px;
     width: 50%;>
<h1 align="Center">Joke</h1>

<img src="http://bi.gazeta.pl/im/3/11013/z11013513IH,Chuck-Norris-.jpg" alt="Noris" align="Center">

    <form action="/">
    <div align="center" style="background-color:lighred" >

        <p th:text="${quote}"/>
        <input type="submit" value="New Joke" style="background-color:white" >


</div>
    </form>
</div>


</body>
</html>